$social: ('email', 'facebook', 'twitter', 'whatsapp');

.action-button {
  @include un-button();
  font-size: map-get($font-size, 's');
  font-weight: bold;
  padding: 13px 16px 12px;
  color: $clr-white;
  background-color: $clr-red-dark;
  border-radius: $border-radius;
  box-shadow: 0 2px 2px 0 rgba($clr-black, 0.24),
    0 0 2px 0 rgba($clr-black, 0.12);
  cursor: pointer;
  user-select: none;
  transition: transform 0.1s $trans-cubic, background-color 0.1s $trans-cubic,
    box-shadow 0.1s $trans-cubic;
  &:hover {
    background-color: shade($clr-red-dark, 10);
  }
  &:active {
    box-shadow: 0 0 0 0 rgba($clr-black, 0.24), 0 0 1px 0 rgba($clr-black, 0.12);
    transform: translateY(2px);
  }
  &.small {
    min-width: 116px;
  }
  &.medium {
    min-width: 200px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  &.outline {
    background-color: $clr-white;
    color: $clr-red-dark;
    border: 1px solid $clr-red-dark;
  }

  // Social
  &.social {
    @include offset-text();
    padding: 0;
    width: 62px;
    height: 48px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50% 50%;
    &:first-child {
      margin-left: 0;
    }
    // Override addtoany.com styles
    .a2a_svg {
      display: none;
    }
  }
  @each $network in $social {
    &.#{$network} {
      background-image: url('/assets/action-button/#{$network}.svg');
      background-color: map-get($clr-social, $network);
      &:hover {
        background-color: shade(map-get($clr-social, $network), 10);
      }
    }
  }

  // Icon
  &.icon {
    @include offset-text();
    padding: 0;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30% 30%;
  }
  &.icon--up {
    background-image: url('/assets/action-button/up--red-dark.svg');
  }
}

// Overlays, used for visual feedback ("Success!")
.action-button__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background-color: $clr-state-green;
  color: $clr-white;
  pointer-events: none;
  opacity: 0;
  transition: opacity $trans-duration $trans-cubic;
  .action-button.has-overlay & {
    opacity: 1;
  }
  &::after {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 6px;
  }
  &.ok {
    &::after {
      background-image: url('/assets/action-button/check.svg');
    }
  }
}
