.richtext {
  h1 {
    font-size: map-get($font-size, 'xl');
    line-height: map-get($line-height, 'xl');
    margin: $vertical-space * 1.5 0 $vertical-space / 2;
  }

  h2 {
    font-size: map-get($font-size, 'l');
    line-height: map-get($line-height, 'l');
    margin: $vertical-space * 1.5 0 $vertical-space / 2;
  }

  p {
    @include fluid-type('s');
    margin: $vertical-space / 2 0;
  }
  p.lead {
    font-weight: bold;
  }
  &.center-text {
    text-align: center;

    .left-text * {
      text-align: left;
    }
  }
  .no-space-top {
    margin-top: 0;
  }

  .small p {
    font-size: map-get($font-size, 'xs');
    line-height: map-get($line-height, 'xs');
  }
}
