- var message = messages[0]
section.act
  +stripe()
    .readable-width
      .act__richtext.richtext.center-text
        h1 Herzlichen Dank für Ihre Nachricht
        p Bitte helfen Sie mit und teilen Sie Ihr Argument mit Ihren FreundInnen, Familien, Verwandten und Bekannten.
      .act__my-message
        +card(message.quote, 4, message.sender, message.recipientName, message.recipientParty, message.subject)
      .act__richtext.richtext.center-text
        p
          |#[a(href='/feed.html') Alle Nachrichten ansehen]
          br
          |#[a(href='/') Weitere Person lobbyieren]
