section.act
  +stripe()
    .act__richtext.act__center-col.center-text.richtext
      h1 Wählen Sie eine Nachricht
      img(src='/assets/officials/Jean-René Fournier.jpg')
      p An: #[strong Jean-Rene Fournier] (CVP/VS) #[br]Betreff: E-ID
    .act__select-message
      each message, index in messages
        blockquote.act__message(data-index=index onclick='app.act.selectMessage()') #{message}
    .act__center-col.center-text.richtext
      h2 Absender
      form(action='/act-confirm.html').act__form
        +mdcTextField('Vorname*')(class='act__input')
        +mdcTextField('Nachname*')(class='act__input')
        +mdcTextField('E-Mail*', 'email')(class='act__input')
        +mdcTextField('Ort*')(class='act__input')
        +mdcCheckbox('Ich möchte informiert bleiben lorem ipsum dolor')(class='act__input act__checkbox')
        input(type='hidden' name='color' id='card-color')
        input(type='hidden' name='argument-index' id='argument-index')
        input(type='hidden' name='argument-string' id='argument-string')
        button.action-button.medium.act__button Abschicken
    .act__legal.act__center-col.richtext
      p
        |Mit Ihrer Eingabe akzeptieren Sie unsere
        |#[a(onclick='utils.scrollTo("#terms-of-use", { offset: document.querySelector(".header").offsetHeight * -1 })') Nutzungsbedingungen]
        |sowie die
        |#[a(onclick='utils.scrollTo("#privacy", { offset: document.querySelector(".header").offsetHeight * -1 })') Datenschutzbestimmungen].
