section.campaign-info
  +stripe()
    .campaign-info__content
      p.lead #{campaignInfo.lead}
      p #{campaignInfo.text}
      p: a(onclick='utils.scrollTo(".faq", { offset: document.querySelector(".header").offsetHeight * -1 })') Mehr erfahren
