section.donorbox#donate
  +stripe()
    .richtext.readable-width
      h1 Spenden
      p Mit Ihrer Spende bringen wir diese Kampagne weiter.
    .donorbox__inner.readable-width
      include ./donorbox-embed
    .richtext.readable-width
      h2.no-space-top Bankverbindung
      p
        | Verein PublicBeta
        br
        | Crowd-Lobbying
        br
        | 4051 Basel
        br
        | IBAN CH58 0900 0000 1509 7572 2
        br
        | Post-Konto 15-97572-2
