script(src='https://donorbox.org/widget.js', paypalexpress='false')
iframe(src='https://donorbox.org/embed/crowdlobbying-digitaler-pass', height='685px', width='100%', style='max-width:500px; min-width:310px; max-height:none!important', seamless, name='donorbox', frameborder='0', scrolling='no', allowpaymentrequest)
