div.rnw-widget-container
  script(src='https://tamaro.raisenow.com/wecol-b933/latest/widget.js')
  script.
    window.rnw.tamaro.runWidget('.rnw-widget-container', {
      language: 'de',
      testMode: false,
      amounts: [20,40,80,120],
      purposes: ["P1004-3"],
      translations: {
        de: {
          purposes: {
            "P1004-3": "Stimmrechtsalter 16"
          }
        },
        fr: {
          purposes: {
            "P1004-3": "Le droit de vote à 16 ans"
          }
        }
      }
    })
