footer.footer
  +stripe()(viewportClass='grey vertical-space')
    section.cols.footer__section.footer__about
      .col.col-6
        h2.no-space Über uns
        p Crowd-Lobbying ist eine unabhängige Schweizer Kampagnenplattform. Wir ermöglichen Menschen, Nachrichten an das Parlament zu schicken, die ihnen am Herzen liegen. Gemeinsam setzen wir uns ein für eine Schweiz, in der wir leben wollen. Die Plattform ist ein Community-Projekt und wurde an den Campaign Hackdays 2019 entwickelt.
      .col.col-3
        h2.no-space Medienkontakt
        p
          | Che Wagner
          br
          | Tel. +41 76 230 75 29
          br
          | #[a(href='mailto:che.wagner@publicbeta.ch') che.wagner@publicbeta.ch]
      .col.col-3
        h2.no-space Impressum
        p
          | Daniel Graf
          br
          | Dammerkirchstr. 44
          br
          | CH-4056 Basel
  +stripe()(viewportClass='grey-darker vertical-space')
    section.footer__section.footer__terms-of-use#terms-of-use
      h2 Nutzungsbedingungen
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    section.footer__section.footer__privacy#privacy
      h2 Datenschutz
      p Der Schutz der Privatsphäre und namentlich der Datenschutz sind uns wichtig. Gestützt auf Artikel 13 der schweizerischen Bundesverfassung und die datenschutzrechtlichen Bestimmungen des Bundes (Datenschutzgesetz, DSG) hat jede Person Anspruch auf Schutz ihrer Privatsphäre sowie auf Schutz vor Missbrauch ihrer persönlichen Daten. Wir halten diese Bestimmungen ein. Persönliche Daten werden streng vertraulich behandelt und weder an Dritte verkauft noch weitergegeben.
      p Wenn Sie unsere Website besuchen oder unsere E-Mails lesen, speichern wir verschiedene Informationen. Einige Daten geben Sie bei der Registrierung für Dienstleistungen selbst bekannt. Andere, nicht persönliche Daten werden aufgrund von technischen Abläufen gespeichert, beispielsweise IP-Adressen.
      hr
      p.no-space © #{new Date().getFullYear()} #[a(href='https://www.publicbeta.ch/') Verein Public Beta, Basel], v.#{pkg.version}
