meta(charset='UTF-8')
title= title
meta(name='description', content= metaDesc )
meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
link(rel="icon", type="image/png", href= path + "favicon-32x32.png",sizes="32x32")
link(rel="icon", type="image/png", href= path + "favicon-16x16.png",sizes="16x16")
link(href='favicon.ico', rel='shortcut icon', type='image/x-icon')
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700|Fira+Sans:400,600|Fira+Mono:500|Roboto+Slab:700")
link(rel='stylesheet', href= path + 'assets/app.css')
