meta(charset='UTF-8')
title=title
meta(name='description', content=metaDesc)
meta(property='og:image', content='/assets/meta/crowd-lobbying-og-image.jpg')
meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
meta(name='theme-color', content='#ffffff')
link(rel='manifest', href='/manifest.json')
link(rel='shortcut icon', href='/favicon.ico')
link(rel='icon', type='image/x-icon', href='/favicon.ico')
link(rel='icon', href='/favicon-16x16.png', type='image/png', size='16x16')
link(rel='icon', href='/favicon-32x32.png', type='image/png', size='32x32')
link(rel='icon', href='/favicon-96x96.png', type='image/png', size='96x96')
link(rel='apple-touch-icon', href='/apple-icon.png')
link(rel='apple-touch-icon', href='/apple-icon-precomposed.png')
link(rel='apple-touch-icon', href='/apple-icon-57x57.png', sizes='57x57')
link(rel='apple-touch-icon', href='/apple-icon-60x60.png', sizes='60x60')
link(rel='apple-touch-icon', href='/apple-icon-72x72.png', sizes='72x72')
link(rel='apple-touch-icon', href='/apple-icon-76x76.png', sizes='76x76')
link(rel='apple-touch-icon', href='/apple-icon-114x114.png', sizes='114x114')
link(rel='apple-touch-icon', href='/apple-icon-120x120.png', sizes='120x120')
link(rel='apple-touch-icon', href='/apple-icon-144x144.png', sizes='144x144')
link(rel='apple-touch-icon', href='/apple-icon-152x152.png', sizes='152x152')
link(rel='apple-touch-icon', href='/apple-icon-180x180.png', sizes='180x180')
link(rel='apple-touch-icon', href='/apple-icon.png', sizes='192x192')
meta(name='msapplication-TitleColor', content='#ffffff')
meta(name='msapplication-TitleImage', content='/ms-icon-144x144.png')
meta(name='msapplication-config', content='/browserconfig.xml')
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600|Fira+Mono:500|Roboto+Slab:700")
link(rel='stylesheet', href=path + 'assets/app.css')
