section.hero
  .hero__inner
    +stripe()
      .hero__content
        h2 #{hero.heading}
        h1 #{hero.title}
        p #{hero.footerLine}
        button.action-button.medium(onclick='utils.scrollTo(".how-it-works", { offset: document.querySelector(".header").offsetHeight * -1 })') #{hero.callToAction}
