section.how-it-works
  +stripe()
      h1.how-it-works__title So einfach geht Crowd-Lobbying:
      ol.how-it-works__steps
        li.how-it-works__step #[span.how-it-works__ordinal 1.] Wählen Sie Ihren Kanton.
        li.how-it-works__step #[span.how-it-works__ordinal 2.] Wählen Sie ein Mitglied des Ständerates.
        li.how-it-works__step #[span.how-it-works__ordinal 3.] Entscheiden Sie sich für eine Nachricht.
      .how-it-works__richtext
        p Wir verschicken Ihre Nachricht per SMS, E-Mail, Post oder Fax an das von Ihnen gewählte Mitglied des Ständerates.
