nav.menu#menu
  +stripe()
    ul.menu__items
      li.menu__item
        a.menu__link(onclick='app.menu.hide()') Startseite
      li.menu__item
        a.menu__link(onclick='app.menu.hide()') Mitmachen
      li.menu__item
        a.menu__link(onclick='app.menu.hide()') St채nder채tinnen und St채nder채te
      li.menu__item
        a.menu__link(onclick='app.menu.hide()') Nachrichten-Feed
      li.menu__item
        a.menu__link(onclick='app.menu.hide()') Kontakt
      li.menu__item
        a.menu__link(onclick='app.menu.hide()') Impressum
      li.menu__item
        a.menu__link(onclick='app.menu.hide()') Datenschutz
