nav.menu#menu
  +stripe()
    ul.menu__items
      li.menu__item
        a.menu__link(onclick='app.menu.hide()' href="/") Startseite
      li.menu__item
        a.menu__link(onclick='app.menu.hide(); scrollToElement(".how-it-works", { offset: document.querySelector(".header").offsetHeight * -1 })') Mitmachen
      li.menu__item
        a.menu__link(onclick='app.menu.hide(); scrollToElement(".how-it-works", { offset: document.querySelector(".header").offsetHeight * -1 })') St채nder채tinnen und St채nder채te
      li.menu__item
        a.menu__link(onclick='app.menu.hide()' href='/feed.html') Nachrichten-Feed
      li.menu__item
        a.menu__link(onclick='app.menu.hide(); scrollToElement(".footer", { offset: document.querySelector(".header").offsetHeight * -1 })') Medienkontakt
      li.menu__item
        a.menu__link(onclick='app.menu.hide(); scrollToElement(".footer", { offset: document.querySelector(".header").offsetHeight * -1 })') Datenschutz
