section.messages-carousel
  .messages-carousel__cards
    each message, index in messages
      .messages-carousel__slide
        +card(
          message.quote,
          index,
          message.sender,
          message.recipientName,
          message.recipientParty,
          message.subject
        )
