section.messages-grid
  +stripe()(pageClass='mobile-fullwidth' layoutClass='mobile-fullwidth')
    .messages-grid__cta
      a(href='/#how-it-works')
        button.action-button.medium Mitmachen
    .messages-grid__cards
      each message, index in messages
        .messages-grid__slide
          +card(
            message.sender,
            message.recipientName,
            message.recipientParty,
            message.subject,
            message.quote,
            index
          )
