section.officials
  +stripe()
    .officials__canton-chooser
      .mdc-select.mdc-select--outlined.officials__select#canton-select
        i.mdc-select__dropdown-icon
        select.mdc-select__native-control
          option(value, disabled, selected)
          each canton in cantons
            option(value=canton.key) #{canton.name}
        .mdc-notched-outline
          .mdc-notched-outline__leading
          .mdc-notched-outline__notch
            label.mdc-floating-label Kanton wählen
          .mdc-notched-outline__trailing
    //- NOTE: Class 'officials__list' is used by script and style
    //- s. ./src/assets/js/modules/canton-chooser.js
    .officials__list
      each official, index in officials
        +official(
          official.name,
          official.party,
          official.state,
          official.count,
          official.image,
          index
        )(class='officials__card')
    .officials__explanation.readable-width
      h2.officials__title Lobby-Status
      .officials__states
        span.officials__state.against-us gegen uns
        span.officials__state.unknown unbekannt
        span.officials__state.with-us mit uns
      .officials__richtext.richtext
        p.lead Wer hat welche Stimmabstichten? Der Lobby-Status zeigt Ihnen, wem Sie eine Nachricht schicken sollten. Gemeinsam wollen wir PolitikerInnen überzeugen, die noch keine feste Meinung geäussert haben oder die unserem Anliegen kritisch gegenüber stehen. Wer für unser Anliegen eintritt, erhält keine Nachrichten mehr.
