section.scroll-to-top(class!=scrollToTop && scrollToTop.theme)
  +stripe()(layoutClass='scroll-to-top__inner')
    button.action-button.outline.icon.icon--up(onclick='scrollToElement("body")') Nach oben
