section.share
  +stripe()(viewportClass='vertical-space')
    .share__richtext.richtext.readable-width
      h1 #{share.title}
      p #{share.info}
    .share__social.readable-width
      button.action-button.social.facebook Facebook
      button.action-button.social.twitter Twitter
      button.action-button.social.whatsapp WhatsApp
    .share__richtext.richtext.readable-width
      p via E-Mail teilen
    .share__textbox.textbox.readable-width
      .textbox__content
        p Hallo
        p Ich habe gerade gegen die E-ID lobbyiert. Tönt kompliziert? Ist aber ganz einfach. Auf
        p https://www.digitaler-pass.ch/
        p Kannst du einer Ständerätin oder einem Ständerat deiner Wahl ein Argument schicken, wieso du gegen eine E-ID von von privaten Unternehmen bist.
        p Es würde mir sehr viel bedeuten, wenn Du dieses Projekt ebenfalls unterstützen würdest.
        p Vielen Dank und freundliche Grüsse
      button.action-button.outline.textbox__button Text kopieren
