mixin icon(iconHref, iconClass )
  svg(class= iconClass)
    use(xlink:href="#spriteIcon-"+iconHref)

mixin stripe()
  .viewport-width(class!=attributes.viewportClass)
    .page-width(class!=attributes.pageClass)
      .layout-width(class!=attributes.layoutClass)
        block
