.official {
  background-color: $clr-grey-lighter;
  box-shadow: 0 2px 4px 0 rgba($clr-black, 0.25),
    0 2px 4px 0 rgba($clr-black, 0.2);
}

.official__portrait {
  position: relative;
  width: 120 / 300 * 100%;
  height: 100%;
  min-height: 160px;
  float: left;
  background-size: cover;
  background-position: 50% 50%;
}

.official__footer {
  height: 100%;
  min-height: 160px;
  position: relative;
  padding: 10px 5px 10px 0;
  margin-left: 130 / 300 * 100%;

  a {
    display: block;
  }
}

.official__badge {
  position: absolute;
  top: 10px;
  left: 10px;
}

.official__name,
.official__state {
  display: block;
  // Static font-size, no fluid-type
  font-size: map-get($font-size, 's');
  line-height: map-get($line-height, 's');
}

.official__state {
  @include state-badge();
  padding-bottom: 53px;
}

.official__button {
  position: absolute;
  bottom: 10px;
}
