//- Site informations
- var lang = 'de'
- var path = './'

- var pathStyleguide = "/styleguide/"

//- Page informations
- var title = title || 'Crowd Lobbying'
- var metaDesc = metaDesc || 'Hello Front est un framework SCSS simple compatible à partir de IE10.'

//- Templates classes
- var template = template || "t-base"
