-
  var pkg = require('../../package.json')
  var cantons = [
    { key: 19, name: 'Aargau', },
    { key: 15, name: 'Appenzell Ausserrhoden', },
    { key: 16, name: 'Appenzell Innerhoden', },
    { key: 13, name: 'Basel-Landschaft', },
    { key: 12, name: 'Basel-Stadt', },
    { key: 2, name: 'Bern', },
    { key: 10, name: 'Freiburg', },
    { key: 25, name: 'Genf', },
    { key: 8, name: 'Glarus', },
    { key: 18, name: 'Graubünden', },
    { key: 26, name: 'Jura', },
    { key: 3, name: 'Luzern', },
    { key: 24, name: 'Neuenburg', },
    { key: 7, name: 'Nidwalden', },
    { key: 6, name: 'Obwalden', },
    { key: 14, name: 'Schaffhausen', },
    { key: 5, name: 'Schwyz', },
    { key: 11, name: 'Solothurn', },
    { key: 21, name: 'Tessin', },
    { key: 17, name: 'St. Gallen', },
    { key: 4, name: 'Uri', },
    { key: 20, name: 'Thurgau', },
    { key: 23, name: 'Wallis', },
    { key: 22, name: 'Waadt', },
    { key: 1, name: 'Zürich', },
    { key: 9, name: 'Zug', },
  ]
