extends ../layout/campaign

append config
  - var title = "Campaign Title"
  - var metaDesc = "Campaign Description"
  - var template = 't-campaign'

block data
  -
    var hero = {
      heading: 'Crowd-Lobbying',
      title: 'Wir wollen keinen digitalen Pass von der UBS, Swisscom oder der Swica!',
      footerLine: '961 Nachrichten an den Ständerat verschickt',
      callToAction: 'Mitmachen',
      foo: 'some foobar content for'
    }

block content
  p This is my block 'content' foo bar bar
  p #{data.foo}
