extends ../layout/campaign

append config
  - var title = "Campaign Title"
  - var metaDesc = "Campaign Description"
  - var template = 't-campaign'

block data
  -
    var hero = {
      heading: 'Crowd-Lobbying',
      title: 'Wir wollen keinen digitalen Pass von der UBS, Swisscom oder der Swica!',
      footerLine: '961 Nachrichten an den Ständerat verschickt',
      callToAction: 'Mitmachen',
      foo: 'some foo bar some foo bar baz',
    }
    var carousel = {
      infoLead: 'Der Bundesrat plant einen historischen Systemwechsel: Der digitale Schweizer Pass (E-ID) soll neu von privaten Unternehmen ausgestellt werden. Nur der Ständerat kann den Fehlentscheid noch stoppen.',
      infoText: 'Beteiligen Sie sich jetzt am Crowd-Lobbying. Überzeugen Sie die Ständerätin oder den Ständerat aus Ihrem Kanton davon, dass Sie den digitalen Pass nicht im Swisscom-Shop oder in einer UBS-Filiale beziehen wollen!',
      cards: [
        {
          sender: 'Andrea Caminada, Chur',
          recipientName: 'Jean-René Fournier',
          recipientParty: '(CVP/VS)',
          subject: 'E-ID',
          quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben und lorem ipsum.»',
        },
        {
          sender: 'Theresa Ackermann, Uster',
          recipientName: 'An: Ruedi Noser',
          recipientParty: '(FDP/ZH)',
          subject: 'E-ID',
          quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben.»',
        },
        {
          sender: 'Peter Mustermann',
          recipientName: 'Jean-René Fournier',
          recipientParty: '(CVP/VS)',
          subject: 'E-ID',
          quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben und lorem ipsum.»',
        },
        {
          sender: 'Andrea Caminada, Chur',
          recipientName: 'Jean-René Fournier',
          recipientParty: '(CVP/VS)',
          subject: 'E-ID',
          quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben und lorem ipsum.»',
        },
        {
          sender: 'Theresa Ackermann, Uster',
          recipientName: 'An: Ruedi Noser',
          recipientParty: '(FDP/ZH)',
          subject: 'E-ID',
          quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben.»',
        },
        {
          sender: 'Peter Mustermann',
          recipientName: 'Jean-René Fournier',
          recipientParty: '(CVP/VS)',
          subject: 'E-ID',
          quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben und lorem ipsum.»',
        },
        {
          sender: 'Andrea Caminada, Chur',
          recipientName: 'Jean-René Fournier',
          recipientParty: '(CVP/VS)',
          subject: 'E-ID',
          quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben und lorem ipsum.»',
        },
        {
          sender: 'Theresa Ackermann, Uster',
          recipientName: 'An: Ruedi Noser',
          recipientParty: '(FDP/ZH)',
          subject: 'E-ID',
          quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben.»',
        },
        {
          sender: 'Peter Mustermann',
          recipientName: 'Jean-René Fournier',
          recipientParty: '(CVP/VS)',
          subject: 'E-ID',
          quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben und lorem ipsum.»',
        },
        {
          sender: 'Andrea Caminada, Chur',
          recipientName: 'Jean-René Fournier',
          recipientParty: '(CVP/VS)',
          subject: 'E-ID',
          quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben und lorem ipsum.»',
        },
        {
          sender: 'Theresa Ackermann, Uster',
          recipientName: 'An: Ruedi Noser',
          recipientParty: '(FDP/ZH)',
          subject: 'E-ID',
          quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben.»',
        },
      ]
    }

block content
  p This is my block 'content' foo bar bar
  p #{data.foo}
