extends ../layout/campaign

append config
  - var title = "Campaign Title"
  - var metaDesc = "Campaign Description"
  - var template = 't-campaign'

block data
  -
    var hero = {
      heading: 'Crowd-Lobbying',
      title: 'Wir wollen keinen digitalen Pass von der UBS, Swisscom oder der Swica!',
      footerLine: '961 Nachrichten an den Ständerat verschickt',
      callToAction: 'Mitmachen',
      foo: 'some foo bar some foo bar baz',
    }
    var campaignInfo = {
      lead: 'Der Bundesrat plant einen historischen Systemwechsel: Der digitale Schweizer Pass (E-ID) soll neu von privaten Unternehmen ausgestellt werden. Nur der Ständerat kann den Fehlentscheid noch stoppen.',
      text: 'Beteiligen Sie sich jetzt am Crowd-Lobbying. Überzeugen Sie die Ständerätin oder den Ständerat aus Ihrem Kanton davon, dass Sie den digitalen Pass nicht im Swisscom-Shop oder in einer UBS-Filiale beziehen wollen!',
    }
    var messages = [
      {
        sender: 'Andrea Caminada, Chur',
        recipientName: 'Jean-René Fournier',
        recipientParty: '(CVP/VS)',
        subject: 'E-ID',
        quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben und lorem ipsum.»',
      },
      {
        sender: 'Theresa Ackermann, Uster',
        recipientName: 'Ruedi Noser',
        recipientParty: '(FDP/ZH)',
        subject: 'E-ID',
        quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben.»',
      },
      {
        sender: 'Peter Mustermann',
        recipientName: 'Jean-René Fournier',
        recipientParty: '(CVP/VS)',
        subject: 'E-ID',
        quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben und lorem ipsum.»',
      },
      {
        sender: 'Andrea Caminada, Chur',
        recipientName: 'Jean-René Fournier',
        recipientParty: '(CVP/VS)',
        subject: 'E-ID',
        quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben und lorem ipsum.»',
      },
      {
        sender: 'Theresa Ackermann, Uster',
        recipientName: 'Ruedi Noser',
        recipientParty: '(FDP/ZH)',
        subject: 'E-ID',
        quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben.»',
      },
      {
        sender: 'Peter Mustermann',
        recipientName: 'Jean-René Fournier',
        recipientParty: '(CVP/VS)',
        subject: 'E-ID',
        quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben und lorem ipsum.»',
      },
      {
        sender: 'Andrea Caminada, Chur',
        recipientName: 'Jean-René Fournier',
        recipientParty: '(CVP/VS)',
        subject: 'E-ID',
        quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben und lorem ipsum.»',
      },
      {
        sender: 'Theresa Ackermann, Uster',
        recipientName: 'Ruedi Noser',
        recipientParty: '(FDP/ZH)',
        subject: 'E-ID',
        quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben.»',
      },
      {
        sender: 'Peter Mustermann',
        recipientName: 'Jean-René Fournier',
        recipientParty: '(CVP/VS)',
        subject: 'E-ID',
        quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben und lorem ipsum.»',
      },
      {
        sender: 'Andrea Caminada, Chur',
        recipientName: 'Jean-René Fournier',
        recipientParty: '(CVP/VS)',
        subject: 'E-ID',
        quote: '«Die digitale Identität auszustellen, muss eine Staatsaufgabe bleiben und lorem ipsum.»',
      },
    ]
    var officials = [
      {
        name: 'Jean-René Fournier',
        party: '(CVP/VS)',
        state: -1,
        count: '999+',
        image: {
          url: '/assets/officials/Jean-René Fournier.jpg'
        },
      },
      {
        name: 'Franz Hugentobler',
        party: '(ABC/DE)',
        state: 0,
        count: '999+',
        image: {
          url: '/assets/officials/Erich Ettlin.jpg'
        },
      },
      {
        name: 'Jean-René Fournier',
        party: '(CVP/VS)',
        state: 1,
        count: '999+',
        image: {
          url: '/assets/officials/Jean-René Fournier.jpg'
        },
      },
      {
        name: 'Franz Hugentobler',
        party: '(ABC/DE)',
        state: -1,
        count: '999+',
        image: {
          url: '/assets/officials/Erich Ettlin.jpg'
        },
      },
      {
        name: 'Jean-René Fournier',
        party: '(CVP/VS)',
        state: 1,
        count: '999+',
        image: {
          url: '/assets/officials/Jean-René Fournier.jpg'
        },
      },
    ]
    var faq = {
      title: 'Digitaler Schweizer Pass (E-ID)',
      content: [
        {
          answer: 'Weil der Bund vor zehn Jahren mit der Einführung eines elektronischen Passes (E-ID) gescheitert ist, will er die Aufgabe nun verschiedenen Grosskonzernen überlassen. Noch kann das Parlament dies stoppen.',
        },
        {
          question: 'Wofür braucht es eine staatlich geprüfte digitale Identität?',
          answer: 'Die elektronische Identität (E-ID) ist der digitale Pass. Die NutzerInnen einer E-ID sollen bei E-Government-Angeboten, beim Online-Shopping und weiteren Online-Dienstleistungen wie Versicherungen eindeutig Identifizierbar sein. Damit sollen Risiken wie Identitätsklau und Manipulationen im Netz verunmöglicht werden. Besonders bei sensiblen Vorgängen wie Gesundheitsdaten, bei Abstimmungen und Wahlen im Netz, der E-Steuerrechnung und im Online-Banking würde die E-ID eine zentrale Rolle spielen. Im Vergleich mit anderen Staaten ist die Schweiz in Sachen elektronischer Identität in den letzten Jahren in Rückstand geraten.',
        },
        {
          question: 'Welche Lösung schlägt der Bundesrat vor?',
          answer: 'Das Gesetz über elektronische Identifizierungsdienste sieht eine Rollenteilung zwischen Staat und Privaten vor. Der Staat gibt die E-ID nicht mehr selber heraus. Die technische Lösung für die E-ID kommt von privaten Anbietern, den sogenannten Identitätsdienstleistern (IdP). Diese sollen für den Vertrieb und den Aufbau der elektronischen Identität zuständig sein, und der Bund nur noch als schwache Kontrollbehörde eingesetzt werden. Das Passbüro wird damit abgeschafft. An dessen Stelle treten grosse Privatbanken, wie die UBS, private Versicherungsgesellschaften, wie die CSS Versicherung, oder staatsnahe Giganten, wie die Post. Diese Schweizer Grossfirmen wären unter dem Dach des Konglomerats «SwissSign» fortan im Besitz der Daten und der Persönlichkeitsprofile, die durch die Benutzung der E-ID entstehen.',
        },
        {
          question: 'Warum ist dieser Schritt so gefährlich?',
          answer: 'Die Sicherung der Identität ist seit jeher eine staatlich-hoheitliche Aufgabe, die unter demokratische Kontrolle gehört. Es ist unverständlich, dass der Bund ausschliesslich private Akteure als E-ID-Aussteller festschreibt. Damit erhalten die privaten E-ID-Aussteller grosse Freiheit in der Speicherung und Verwendung unserer Daten und dem Bund bleibt nur eine schwache Kontrollfunktion.',
        },
        {
          question: 'Wer unterstützt das Crowd-Lobbying?',
          answer: 'Wir sind ein breiter Zusammenschluss von Organisationen und Netzwerken, die sich dafür einsetzen, dass der digitale Pass weiterhin vom Staat an die Bevölkerung ausgegeben wird. Die Kampagne wird u.a. unterstützt von der Stiftung für Konsumentenschutz, der Digitalen Gesellschaft, der Demokratie-Plattform WeCollect und dem Verein PublicBeta.',
        },
      ]
    }
    var share = {
      title: 'Teilen',
      info: 'Bitte helfen Sie mit und teilen Sie die Kampagne mit Ihren FreundInnen, Familien, Verwandten und Bekannten.',
      clipboardText: 'Hallo\\n\\nIch habe gerade gegen die E-ID lobbyiert. Tönt kompliziert? Ist aber ganz einfach. Auf \\n\\nhttps:\/\/www.digitaler-pass.ch\/\\n\\nkannst du einer Ständerätin oder einem Ständerat deiner Wahl ein Argument schicken, wieso du gegen eine E-ID von von privaten Unternehmen bist.\\n\\nEs würde mir sehr viel bedeuten, wenn Du dieses Projekt ebenfalls unterstützen würdest.\\n\\nVielen Dank und freundliche Grüsse'
    }

block content
  //
    #{pkg.name} v.#{pkg.version}+504
