/// Mixin to ensure font sizes and line heights are used consistently.
/// @param {enum} $size ['m'] - The key for the requested font size
/// @param {bool} $set-line-height [true] - Set false to exclude 'line-height'
@mixin fluid-type($size: 'm', $set-line-height: true) {
  @if map-has-key($fluid-type, $size) {
    $bps: map-get($fluid-type, $size);
    @each $bp in $bps {
      $bp-name: nth($bp, 1);
      $bp-size: nth($bp, 2);
      @if ($bp-name == 'default') {
        @include _set-font-size($bp-size, $set-line-height);
      } @else {
        @include mq($from: $bp-name) {
          @include _set-font-size($bp-size, $set-line-height);
        }
      }
    }
  } @else {
    @include _set-font-size($size, $set-line-height);
  }
}

// Helper for mixin font-size
@mixin _set-font-size($size: 'm', $set-line-height: true) {
  font-size: map-get($font-size, $size);
  @if ($set-line-height) {
    line-height: map-get($line-heights, $size);
  }
}
