.campaign-info {
  background-color: $clr-grey-dark;
  padding-bottom: $vertical-space;

  &--archived {
    background-color: #79909b;
    padding-top: 24px;
  }
}

.campaign-info__content {
  overflow: hidden;
  color: $clr-white;
}

// RichText

.campaign-info__content {
  p {
    @include fluid-type('s');
    text-align: center;
    margin: 1em 0;
  }
  p.lead {
    font-weight: bold;
  }
  a {
    color: $clr-white;
    text-decoration: underline;
    &:active,
    &:hover,
    &:focus {
      color: $clr-blue-light;
    }
  }
}
