.footer__about {
  color: $clr-white;
}

.footer__privacy {
  color: rgba($clr-white, 0.75);
}

// RichText

.footer h2,
.footer p {
  @include fluid-type('s');
}

.footer h2 {
  font-weight: bold;
}
