.footer__about {
  color: $clr-white;
}

.footer__privacy {
  color: rgba($clr-white, 0.75);
}

// RichText

.footer h2,
.footer p {
  font-size: map-get($font-size, 's');
  line-height: map-get($line-height, 's');
}

.footer h2 {
  font-weight: bold;
}
