.hero {
  background-image: url('/assets/hero/hero.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

.hero__inner {
  padding-top: 120px;
  padding-bottom: 50px;
  background-color: rgba($clr-black, 0.4);
}

.hero__content {
  color: $clr-white;
  text-align: center;
}

// RichText
.hero__content {
  h1 {
    @include fluid-type('xl');
    margin-top: 21 / 24 * 1em;
    margin-bottom: 14 / 24 * 1em;
  }
  h2,
  p {
    @include fluid-type('m');
    font-weight: bold;
  }
  p {
    margin-bottom: 45 / 18 * 1em;
  }
}

// Responsive

@include mq($from: 'mouse') {
  .hero__content {
    margin-left: auto;
    margin-right: auto;
  }
}

@include mq($from: 'mouse', $until: 'rabbit') {
  .hero__content {
    width: grid-width($cols: 10);
  }
}

@include mq($from: 'rabbit') {
  .hero__content {
    width: grid-width($cols: 8);
  }
}
