.how-it-works {
  margin: $vertical-space * 2 0;
}

.how-it-works__title {
  font-size: map-get($font-size, 'xl');
  line-height: map-get($line-height, 'xl');
  text-align: center;
}

.how-it-works__steps {
  margin: $vertical-space 0;
}

.how-it-works__step {
  position: relative;
  @include fluid-type('s');
  font-weight: bold;
  margin: 12px 0;
}

.how-it-works__ordinal {
  position: absolute;
  left: 0;
  font-size: 30px;
  line-height: 1;
  font-family: $font-slab;
}

.how-it-works p {
  @include fluid-type('s');
  text-align: center;
}

// Responsive

@include mq($until: 'rat') {
  .how-it-works__step {
    padding-left: 35px;
  }

  .how-it-works__ordinal {
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@include mq($from: 'rat') {
  .how-it-works__steps {
    display: flex;
    justify-content: space-between;
  }

  .how-it-works__step {
    width: grid-width($cols: 4);
    text-align: center;
    padding-top: 35px;
  }

  .how-it-works__ordinal {
    top: 0;
    width: 100%;
    text-align: center;
  }
}
