.how-it-works {
  margin: $vertical-space * 2 0;
}

.how-it-works__title {
  font-size: map-get($font-size, 'xl');
  line-height: map-get($line-height, 'xl');
  text-align: center;
}

.how-it-works__steps {
  margin: $vertical-space 0;
}

.how-it-works__step {
  position: relative;
  @include fluid-type('s');
  font-weight: bold;
  padding-left: 35px;
  margin: 12px 0;
}

.how-it-works__ordinal {
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  transform: translateY(-50%);
  font-size: 30px;
  line-height: 1;
  font-family: $font-slab;
}

.how-it-works p {
  @include fluid-type('s');
  text-align: center;
}
