.messages-grid {
  background-color: $clr-grey-dark;
  padding-top: map-get($header-height, 'default');
}

.messages-grid__donate {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  overflow: auto;
  width: 100%;
  height: 260px;
  padding: 15px;
  background-color: $clr-grey-lighter;
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  p {
    margin-top: 6px;
  }
}

// Responsive

@include mq($from: 'mouse') {
  .messages-grid__cards {
    display: flex;
    flex-wrap: wrap;
  }

  .messages-grid__slide {
    margin-right: grid-width($gutters: 1);
    margin-bottom: grid-width($gutters: 1);
  }
}

@include mq($from: 'mouse', $until: 'rabbit') {
  .messages-grid__slide {
    width: grid-width($cols: 6);
    &:nth-child(2n + 1) {
      margin-right: 0;
    }
  }
}

@include mq($from: 'rat', $until: 'rabbit') {
  .messages-grid {
    padding-top: map-get($header-height, 'rat');
  }
}

@include mq($from: 'rabbit') {
  .messages-grid {
    padding-top: map-get($header-height, 'rabbit');
  }

  .messages-grid__slide {
    width: grid-width($cols: 4);
    &:nth-child(3n + 1) {
      margin-right: 0;
    }
  }
}

// Workaround: We don't have breakpoints for markup yet.
// Thus we need to render Donationbox twice and toggle visibility depending
// on the breakpoint.

@include mq($until: 'rabbit') {
  .messages-grid__slide.donate-b {
    display: none;
  }
}

@include mq($from: 'mouse', $until: 'rabbit') {
  .messages-grid__slide:nth-child(1),
  .messages-grid__slide:nth-child(3),
  .messages-grid__slide:nth-child(5) {
    margin-right: grid-width($gutters: 1);
  }
  .messages-grid__slide:nth-child(2),
  .messages-grid__slide:nth-child(4) {
    margin-right: 0;
  }
}

@include mq($from: 'rabbit') {
  .messages-grid__slide.donate-a {
    display: none;
  }
  .messages-grid__slide:nth-child(1) {
    margin-right: grid-width($gutters: 1);
  }
  .messages-grid__slide:nth-child(3) {
    margin-right: 0;
  }
}
