.messages-grid {
  background-color: $clr-grey-dark;
  padding-top: map-get($header-height, 'default');
}

.messages-grid__cta {
  position: absolute;
  left: 50%;
  top: calc(50vh - #{map-get($header-height, 'default')});
  transform: translate(-50%, -50%);
}

// Responsive

@include mq($from: 'mouse') {
  .messages-grid__cards {
    display: flex;
    flex-wrap: wrap;
  }

  .messages-grid__slide {
    margin-right: grid-width($gutters: 1);
    margin-bottom: grid-width($gutters: 1);
  }
}

@include mq($from: 'mouse', $until: 'rabbit') {
  .messages-grid__slide {
    width: grid-width($cols: 6);
    &:nth-child(2n + 0) {
      margin-right: 0;
    }
  }
}

@include mq($from: 'rat', $until: 'rabbit') {
  .messages-grid {
    padding-top: map-get($header-height, 'rat');
  }

  .messages-grid__cta {
    top: calc(50vh - #{map-get($header-height, 'rat')});
  }
}

@include mq($from: 'rabbit') {
  .messages-grid {
    padding-top: map-get($header-height, 'rabbit');
  }

  .messages-grid__cta {
    top: calc(50vh - #{map-get($header-height, 'rabbit')});
  }

  .messages-grid__slide {
    width: grid-width($cols: 4);
    &:nth-child(3n + 0) {
      margin-right: 0;
    }
  }
}
