.officials__canton-chooser {
  text-align: center;
}

.officials__select {
  width: 100%;
}

.officials__list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  padding-top: 5px;
}

.officials__card {
  margin-bottom: 5px;
  margin-top: 5px;
}

.officials__explanation {
  margin: $vertical-space * 2 0;
}

.officials__title {
  font-size: map-get($font-size, 'l');
  line-height: map-get($line-height, 'l');
  margin: $vertical-space / 2 0;
}

.officials__states {
  margin: $vertical-space / 2 0;
}

.officials__state {
  display: block;
  font-size: map-get($font-size, 's-desktop');
  line-height: map-get($line-height, 's-desktop');
  @include state-badge($position: 'before');
}

// Responsive

@include mq($until: 'mouse') {
  .officials__card {
    width: 100%;
  }
}

@include mq($from: 'mouse') {
  .officials {
    padding-bottom: grid-width($gutters: 1) / 2;
    padding-top: grid-width($gutters: 1) / 2;
  }

  .officials__card {
    margin-bottom: grid-width($gutters: 1) / 2;
    margin-top: grid-width($gutters: 1) / 2;
  }

  .officials__state {
    display: inline-block;
    padding-right: 1em;
  }
}

@include mq($from: 'mouse', $until: 'rat') {
  .officials__card {
    width: grid-width($cols: 6);
    &:nth-child(2n + 1) {
      margin-right: grid-width($gutters: 1);
    }
  }
}

@include mq($from: 'rat') {
  .officials__select {
    width: grid-width($cols: 4);
  }

  .officials__card {
    width: grid-width($cols: 4);
    margin-right: grid-width($gutters: 1);
    &:nth-child(3n + 0) {
      margin-right: 0;
    }
  }
}
