include ../config
include ../data
block config
include ../mixins/all
block data

doctype
html(lang=lang)
  head
    include ../partials/head

  body(class=template)

    //- SVG sprite sheet
    .visually-hidden
      include ../../assets/icons/symbol/icons.svg

    include ../partials/header
    include ../partials/hero
    include ../partials/messages-carousel
    include ../partials/campaign-info
    include ../partials/how-it-works
    include ../partials/officials
    include ../partials/donorbox

    section.share(style='background-color: deeppink; padding-top: 2em; padding-bottom: 2em;')
      +stripe()
        h1 Sharing goes here

    include ../partials/faq

    +stripe()
      block content

    include ../partials/footer

    script(src=path + 'assets/app.js', async)
