include ../config
block config
include ../mixins/all
block data

doctype
html(lang=lang)
  head
    include ../partials/head

  body(class=template)

    //- SVG sprite sheet
    .visually-hidden
      include ../../assets/icons/symbol/icons.svg

    include ../partials/header
    include ../partials/hero
    include ../partials/messages-carousel
    include ../partials/campaign-info

    section.act
      +stripe()
        .officials
          each official in act.officials
            +official(
              official.name, 
              official.party, 
              official.state, 
              official.count, 
              official.image
            )(class='officials__card')

    +stripe()
      block content

    include ../partials/footer

    script(src=path + 'assets/app.js', async)
