include ../config
include ../data
block config
include ../mixins/all
block data

doctype
html(lang=lang)
  head
    include ../partials/head

  body(class=template)

    //- SVG sprite sheet
    .visually-hidden
      include ../../assets/icons/symbol/icons.svg

    include ../partials/header
    include ../partials/hero
    include ../partials/messages-carousel
    include ../partials/campaign-info
    include ../partials/how-it-works
    include ../partials/officials
    include ../partials/donorbox
    include ../partials/share
    include ../partials/faq
    include ../partials/scroll-to-top
    include ../partials/footer
    include ../partials/menu

    script(async, src=path + 'assets/app.js')
    script(async, src='https://static.addtoany.com/menu/page.js')
    script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-139693155-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-139693155-2');

    block content
