include ../config
include ../data
block config
include ../mixins/all
block data

doctype
html(lang=lang)
  head
    include ../partials/head

  body(class=template)

    //- SVG sprite sheet
    .visually-hidden
      include ../../assets/icons/symbol/icons.svg

    include ../partials/header
    include ../partials/hero
    include ../partials/messages-carousel
    include ../partials/campaign-info
    include ../partials/how-it-works
    include ../partials/officials
    include ../partials/donorbox
    include ../partials/share
    include ../partials/faq
    include ../partials/footer

    script(src=path + 'assets/app.js', async)

    block content
