include ../config
block config
include ../mixins/all

doctype
html(lang= lang)
  head
    include ../partials/head

  body(class= template)

    header.hf-head(role="banner")
      .hf-wrapper
        h1.hf-summaryHeader-title Sommaire
    main(role="main")
      section
        block content

    script(src= path + "assets/app.js", async)

