// Responsive

@include mq($from: 'rat') {
  .readable-width {
    margin-left: auto;
    margin-right: auto;
    width: grid-width($cols: 10);
  }
}

@include mq($from: 'rabbit') {
  .readable-width {
    width: grid-width($cols: 8);
  }
}
