// UI colors
$clr-black: #000000;
$clr-white: #ffffff;
$clr-almost-white: #f9f9f7;
$clr-grey-lighter: #cfd8dc;
$clr-grey-light: #4a4a4a;
$clr-grey: #465a63;
$clr-grey-dark: #37474f;
$clr-grey-darker: #263237;
$clr-purple: #5132a5;
$clr-blue-light: #039be5;
$clr-blue: #0079bb;
$clr-red: #d50000;
$clr-red-dark: #b71c1c;

// Card colors
$clr-card-pink: #d71a60;
$clr-card-purple: #8e24aa;
$clr-card-purple-dark: #5e34b1;
$clr-card-blue-dark: #3949aa;
$clr-card-blue: #1d88e5;
$clr-card-cyan: #00acc0;
$clr-card-teal: #01887b;
$clr-card-green: #43a047;
$clr-card-orange-dark: #e24b26;
$clr-card-red: #e33935;

// Workaround: Put all card colors in map to allow looping with @each
$clr-cards: (
  pink: $clr-card-pink,
  purple: $clr-card-purple,
  purple-dark: $clr-card-purple-dark,
  blue-dark: $clr-card-blue-dark,
  blue: $clr-card-blue,
  cyan: $clr-card-cyan,
  teal: $clr-card-teal,
  green: $clr-card-green,
  orange-dark: $clr-card-orange-dark,
  red: $clr-card-red,
);

// State colors
// Used in state badges
$clr-state-green: #1dac0c;
$clr-state-orange: #f0522b;
$clr-state-red: $clr-red;

// Social color
$clr-facebook: #3b5998;
$clr-twitter: #55acee;
$clr-linkedin: #0077b5;
$clr-instagram: #3f729b;
$clr-youtube: #cd201f;
$clr-pinterest: #bd081c;
$clr-whatsapp: #25d366;

// Workaround: Put all card colors in map to allow looping with @each
$clr-social: (
  facebook: $clr-facebook,
  twitter: $clr-twitter,
  whatsapp: $clr-whatsapp,
);
