// Typographic definitions

// Font family sets to be used with font-family
// ie. font-family: $font-sans

$font-sans: (
  'Fira Sans',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol'
);

$font-slab: (
  'Roboto Slab',
  Georgia,
  Times,
  Courier,
  serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol'
);

$font-mono: (
  'Fira Mono',
  Courier,
  monospace,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol'
);

// Font sizes
// Fluid type (and thus $font-size) is used for font-family:sans only
// s. styles/utils/_fluid-type.scss

// sans-serif
$font-size: (
  'xs': 14px,
  's': 16px,
  's-desktop': 18px,
  'm': 17px,
  'l': 20px,
  'xl': 24px,
  'xl-desktop': 48px,
);
// slab-serif
$font-size--slab-s: 21px;
$font-size--slab-m: 24px;
// monospaced
$font-size--mono-s: 14px;

// Line heights
// Fluid type (and thus $line-height) is used for font-family:sans only
// s. styles/utils/_fluid-type.scss

// sans-serif
$line-height: (
  'xs': 21px,
  's': 24px,
  's-desktop': 28px,
  'm': 21px,
  'l': 25px,
  'xl': 30px,
  'xl-desktop': 58px,
);
// slab-serif
$line-height--slab-s: 27px;
$line-height--slab-m: 30px;
// monospaced
$line-height--mono-s: 26px;

// 'Fluid' font sizes are scaled down for the given responsive breakpoints
// s. styles/utils/_fluid-type.scss
$fluid-type: (
  's': (
    'default': 's',
    'rat': 's-desktop',
  ),
  'm': (
    'default': 'm',
    'rat': 'xl',
  ),
  'xl': (
    'default': 'xl',
    'rat': 'xl-desktop',
  ),
);
